@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: black;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

h1,h2 {
    font-family: 'Supermercado One', cursive;
}

::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }
  
::-webkit-scrollbar-thumb {
    background: #7dcd40;
}
  
::-webkit-scrollbar-thumb:hover {
    background: rgb(175, 255, 29);
}